python-dotenv==1.0.1
fastapi==0.110.0
uvicorn==0.29.0
livekit-api==1.0.7
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
weaviate-client==4.19.2
pymupdf==1.26.7
langchain-text-splitters==1.1.0
python-multipart==0.0.21
openai==2.16.0
Markdown==3.10.1
weasyprint==68.0
